<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wsk.backend3.mapper.ClubMapper">

    <resultMap id="BaseResultMap" type="com.wsk.backend3.domain.Club">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="category" column="category" jdbcType="CHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="comId" column="com_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,category,name,
        com_id
    </sql>
    <select id="findOneByName" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from club
        where
        name = #{name,jdbcType=VARCHAR}
    </select>
    <select id="selectPageByUserId" resultType="com.wsk.backend3.domain.Club">
        select club.id,club.category,club.name, club.com_id from club,clubuser
        where clubuser.clubId=club.id
        and clubuser.userId = #{userId}

    </select>
</mapper>
