<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wsk.backend3.mapper.StarClubMapper">

    <resultMap id="BaseResultMap" type="com.wsk.backend3.domain.StarClub">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="clubId" column="club_id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,club_id,user_id
    </sql>
    <select id="findOneByUserIdAndClubId" resultType="com.wsk.backend3.domain.StarClub">
        select *from star_club
        where club_id = #{clubId}
        and user_id = #{userId}
    </select>
    <select id="selectPageByUserId" resultType="com.wsk.backend3.domain.Club">
        select * from star_club,club
        where star_club.user_id=#{userIdd}
        and club.id=star_club.club_id
    </select>
</mapper>
